.mention-card {
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.mention-card:hover {
    background: rgba(255, 255, 255, 0.5);
}

.mention-card:last-of-type {
    margin-bottom: 0;
}

.mention-card__time {
    font-weight: 400;
    font-size: 15px;
    color: rgba(0,0,0,0.5);
    min-width: 70px;
    margin-right: 10px;
}

.mention-card__person {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
    margin-right: 8px;
}

.mention-card__person img{
    margin-right: 10px;
}

.mention-card span{
    margin-right: 8px;
}

.mention-card span span{
    font-weight: 400;
    font-size: 17px;
    color: #000000;
    margin-right: 8px;
}
.mention-card button{
    padding: 5px 10px;
    width: max-content;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
    cursor: pointer;
}

.mention-card button:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    border: none;
}

.mention-card--mobile {
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 15px;
    background: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    flex-wrap: wrap;
}

.mention-card--mobile__box {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
}

.mention-card--mobile .mention-card__time {
    width: 70px;
    height: 25px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.mention-card--mobile .mention-card__person {
    margin: 0;
    gap: 5px;
}

.mention-card--mobile button{
    padding: 5px 10px;
    width: max-content;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-weight: 700;
    font-size: 17px;
    color: #000000;
    cursor: pointer;
}


@media (max-width: 750px) {
    .mention-card {
        display: none;
    }
    .mention-card--mobile {
        display: flex;
    }
}
