.dialog-members__search {
    display: flex;
    gap: 0 10px;
    align-items: center;
}

.dialog-members__search .MuiPaper-elevation.MuiPaper-root{
    padding: 12px 7px 12px 10px !important;
}

.dialog-members__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dialog-members__chips ul {
    padding: 0 !important;
    border: none;
    max-width: max-content !important;
    box-shadow: none !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: transparent;
}

.dialog-members__list {
    width: 100%;
    padding: 5px 5px;
    height: 150px;
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dialog-members__item {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.dialog-members__item:hover {
    background: rgba(0, 0, 0, 0.02);
    border-radius: 10px;
}

.dialog-members__item div:first-of-type {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dialog-members__btn {
    display: none;
}

@media (max-width: 840px) {

    .dialog-members .dialog-pattern__headline {
        padding: 0 !important;
    }

    .dialog-members .dialog-members__search {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .dialog-members .dialog-remove  {
        width: 100%;
    }

    .dialog-members .dialog-remove .button {
        width: 100%;
    }

    .dialog-members .dialog-members__list {
        height: 250px;
    }
    .dialog-members .dialog-members__item div {
        max-width: 190px;
        word-break: break-all;
    }
    .dialog-members__invitation h3 {
        font-weight: 700;
        font-size: 17px;
        line-height: 24px;
    }

    .dialog-members__invitation .dialog-members__list {
        height: max-content;
        padding: 23px 15px 45px;
    }

    .dialog-members__btn {
        display: flex;
        margin: 0 auto;
        flex: 1 1;
        align-items: flex-end;
        padding-bottom: 10px;
    }
}

@media (max-width: 600px) {

    .dialog-members .select-window__select {
        min-width: 130px !important;
        width: 100%;
    }
}