.custom-tooltip__content {
    line-height: 20px;
    color: #000000;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
}

.custom-tooltip__content:hover {
    color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 600px) {
    .custom-tooltip__content {
        font-size: 15px !important;
    }

    .custom-tooltip__content {
        -webkit-box-orient: inherit;
    }
}
