.insight-filter {
    width: 100%;
    background: #FFFFFF;
    border-radius: 15px;
    display: flex;
    margin: 0;
    flex-direction: column;
}

.insight-filter__title{
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    margin: 0 0 55px;
    color: #000000;
}

.insight-filter__box {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 20px 15px;
    position: relative;
}

.insight-filter__row-first {
    display: flex;
    align-items: center;
    gap: 10px 5px;
    flex-wrap: wrap;
}

.insight-filter__date {
    display: flex;
    gap: 0 15px;
    align-items: center;
    margin-right: 20px;
}

.insight-filter__subtitle {
    font-weight: 700;
    font-size: 15px;
    color: #000000;
    min-width: 100px;
    margin: 0;
}

.insight-filter__row-second,
.insight-filter__row-third{
    display: flex;
    align-items: center;
}

.insight-filter__box .button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
