.make-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(248, 246, 242, 1);
    padding: 80px 0 294px;
    margin: 0;
}

.make-project__title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    margin: 0 0 30px;
}

.make-project__subtitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: rgb(0, 0, 0, 0.5);
    margin: 0 0 80px;
    text-align: center;
}

.make-project__btn {
    padding: 15px 20px;
    gap: 10px;
    max-width: 290px;
    width: 100%;
    height: 54px;
    background: #000000;
    border-radius: 10px;
    font-weight: 700;
    font-size: 17px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.make-project__btn:hover {
    background: #FF007A;
    box-shadow: 0 5px 25px rgba(255, 0, 122, 0.25);
    border-radius: 10px;
    transition: 0.5s;
}