.codex-editor__redactor {
  padding-bottom: 0 !important;
}

.ce-block__content,
.ce-toolbar__content {
  max-width: calc(100% - 80px) !important;
}
.cdx-block {
  max-width: 100% !important;
}

.codex-editor__loader {
  height: 38.4px !important;
}
