.page-reset-password {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  gap: 50px;
}

.page-reset-password__typo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.page-reset-password__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  margin: 0;
}

.page-reset-password__subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.page-reset-password__select {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 566px;
  width: 100%;
}

.page-reset-password__email .MuiInputBase-root {
  background: white;
  border: none !important;
  outline: none !important;
  width: 100%;
  height: 80px;
}

.page-reset-password__email .MuiInputBase-root input {
  height: 80px;
  padding: 0 20px;
}

.page-reset-password__email fieldset {
  display: none;
}

.page-reset-password__link {
  max-width: 566px;
  width: 100%;
  text-decoration: none;
}

.page-reset-password__select .button {
  width: 100%;
  height: 80px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}

.page-reset-password__email-help {
  font-weight: 400;
  font-size: 15px;
  height: 25px;
  text-align: center;
  color: #fd6569;
}

@media (max-width: 700px) {
  .page-reset-password {
    margin-top: 130px;
    justify-content: flex-start;
    min-height: calc(100% - 130px);
  }
  .page-reset-password__subtitle {
    max-width: 275px;
  }

  .page-reset-password__email .MuiInputBase-root {
    height: 60px;
  }

  .page-reset-password__select .button {
    height: 60px;
  }
}
