.dialog-password {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 0 150px;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.dialog-password__button {
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -35px;
    right: 20px;
    display: flex;
    align-items: center;
}

.dialog-password__button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.dialog-password__box {
    max-width: 410px;
    width: 100%;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0 20px 150px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    position: relative;
}

.dialog-password__title {
    font-weight: 700;
    font-size: 17px;
    color: #000000;
    margin: 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dialog-password__title svg {
    color: rgba(0, 0, 0, 0.3);
}

.dialog-password .MuiFormControl-root {
    margin: 0 0 20px;
    width: 100%;
}

.dialog-password .MuiButtonBase-root:hover {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

.dialog-password .MuiInputBase-root {
    background: rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.2em;
    color: #000000;
}

.dialog-password__help {
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    opacity: 0.3;
    margin: 5px 0 0 auto;
}

.dialog-password .MuiInputBase-root fieldset {
    border: none;
}

.dialog-password .button__size-l {
    max-width: 170px;
    width: 100%;
}

.dialog-password__input {
    width: 100%;
    background: #F8F6F2;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    color: #000000;
    padding: 5px 0;
    text-align: center;
}

.dialog-password__trash {
    display: none;
}

.dialog-password__btn .group-btn{
    display: none;
}

@media (max-width: 840px) {
    .dialog-password {
        margin: 0;
    }

    .dialog-password__box {
        max-width: 100%;
        min-height: 100vh;
        border-radius: 0;
        padding: 50px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dialog-password__box .MuiFormControl-root {
        max-width: 251px;
    }

    .dialog-password__button {
        display: none;
    }

    .dialog-password__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        justify-content: center;
        margin-bottom: 150px;
    }

    .dialog-password__help {
        margin: 20px auto 0;
    }

    .dialog-password .group-btn {
        align-items: flex-end;
        flex: 1;
    }

    .dialog-password__title svg {
        display: none;
    }

    .dialog-password__trash {
        display: block;
        width: 40px;
        height: 40px;
        color: rgba(0, 0, 0, 0.31);
        margin-top: 20px;
    }

    .dialog-password__trash path {
        stroke-width: 1px;
    }

    .dialog-password__btn .group-btn {
        display: flex;
    }

    .dialog-password__btn{
        flex: 1;
        display: flex;
    }

    .dialog-password .button__size-l {
        padding: 19px 25px;
    }
}
