.dropdown-notification__menu .MuiPaper-elevation {
    width: 580px;
    padding: 60px 30px 0;
    border-radius: 15px;
    position: relative;
    margin-top: 35px;
}

.dropdown-notification__menu .MuiPopover-paper:after{
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    background: linear-gradient(rgba(255, 255, 255, 0) 0, white 50%);
    position: absolute;
    right: 0;
    bottom: 0;
}

.dropdown-notification__menu .MuiBackdrop-root {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.dropdown-notification__menu .tabs__tab {
    padding-right: 25px !important;
}

.dropdown-notification__menu .tabs__tab span span {
    right: -12px;
}

.dropdown-notification__badge span {
    background: #FF007A;
    color: white;
}

.dropdown-notification__badge span:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #FF007A;
}

.dropdown-notification__icon {
    border: none;
    padding: 0;
    background: transparent;
    width: 26px !important;
    cursor: pointer;
}

.dropdown-notification__icon:hover {
    opacity: 0.3;
    background: transparent;
}

.dropdown-notification__message {
    display: flex;
    gap: 5px 0;
    flex-direction: column;
}

.dropdown-notification__panel {
    padding: 30px 0 !important;
    display: flex;
    gap: 30px 0;
    flex-direction: column;
    border: none;
    margin: 0;
    height: 450px;
    overflow: scroll;
}

.dropdown-notification__dot span {
    top: -2px !important;
    right: -5px !important;
}

.dropdown-notification__title {
    font-weight: 700;
    font-size: 15px;
    align-items: center;
    color: #000000;
    margin: 0 0 8px;
}
