.page-login {
  display: flex;
  flex-direction: column;
  padding-top: 168px;
  align-items: center;
  min-height: 100vh;
}

.page-login__form img {
  margin-bottom: 40px;
}

.page-login__form {
  max-width: 566px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.page-login__form .MuiFormControl-root {
  width: 100%;
  background: #ffffff;
  border-radius: 10px !important;
  border: none !important;
  height: 80px;
}

.page-login__form fieldset {
  border-radius: 10px !important;
  border: none !important;
}

.page-login__form .MuiInputBase-root::placeholder {
  font-weight: 400 !important;
  font-size: 20px !important;
  color: rgba(0, 0, 0, 0.3) !important;
}

.page-login__form .MuiInputBase-root input {
  width: 100% !important;
  height: 100%;
  padding: 0 20px !important;
  position: relative;
}

.page-login__form .page-login__input-error .MuiInputBase-root,
.page-login__form .page-login__input-error .MuiInputBase-root input {
  color: red;
}

.page-login__label-code .page-login__input-error .MuiInputBase-root,
.page-login__label-code .page-login__input-error .MuiInputBase-root input {
  color: black;
}

.page-login__form .MuiInputBase-root {
  height: 100%;
}

.page-login__send {
  font-weight: 700;
  font-size: 20px;
  color: #ff007a;
  position: absolute;
  right: 17px;
}

.page-login__form-password {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
  width: 100%;
}

.page-login__form-password .button {
  height: 80px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
}

.page-login__btn {
  width: 100%;
  height: 80px;
  background: #ff007a;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.page-login__btn-active {
  color: #ffffff;
  background: #ff007a;
  box-shadow: 0 5px 25px rgba(255, 0, 122, 0.25);
}

.page-login__recovery {
  display: flex;
  align-items: center;
  gap: 0 71px;
}

.page-login__recovery-welcome {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.page-login__text {
  font-size: 15px;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
}

.page-login__box-welcome {
  display: flex;
  gap: 20px;
}

.page-login__member {
  color: rgba(0, 0, 0, 0.3);
}

.page-login__recovery div {
  gap: 20px;
  display: flex;
  font-size: 15px;
  color: #000000;
  font-weight: 700;
}

.page-login__recovery div span {
  cursor: pointer;
}

.page-login__label {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.page-login__error {
  position: absolute;
  right: 20px;
  height: 26px;
  background: #f8899d;
  border-radius: 5px;
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
  gap: 0 5px;
  padding: 3px 9px;
  align-items: center;
  display: none;
}

.page-login__label-code .page-login__error {
  right: 140px;
}

.page-login__error-show {
  display: flex;
}

.page-login__error-welcome {
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #fd6569;
  height: 25px;
}

.page-login__error:before {
  content: "";
  background-image: url("../../assets/WarningCircle.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  width: 20px;
  height: 20px;
}

.page-login__attention {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 100%;
  padding: 20px 40px;
  max-width: 500px;
}

@media (max-width: 800px) {
  .page-login__form img {
    width: 350px;
  }
}

@media (max-width: 600px) {
  .page-login__recovery {
    gap: 10px;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  .page-login__error-welcome {
    font-size: 15px;
  }

  .page-login__form-password .button {
    height: 60px;
  }

  .page-login__box-welcome {
    display: none;
  }
}

@media (max-width: 500px) {
  .page-login__error {
    right: 10px;
    padding: 3px 6px;
  }
  .page-login__form img {
    width: 223px;
  }
}
