.page-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 0 30px;
}

.page-password__box {
    background: #FFFFFF;
    border-radius: 30px;
    max-width: 410px;
    width: 100%;
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
}

.page-password__title {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    margin: 0 0 10px;
}

.page-password .MuiFormControl-root {
    margin: 0;
    width: 100%;
}

.page-password .MuiInputBase-root  {
    background: rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.2em;
}

.page-password__help{
    margin: 5px 0 0 auto;
    font-weight: 400;
    font-size: 15px;
    color: rgba(0,0,0,0.3);
}

.page-password .MuiInputBase-root fieldset {
    border: none;
}

.page-password .box-template__img,
.page-password .box-template__change{
    display: none;
}

.page-password .box-template {
    max-width: 940px;
}

.page-password .box-template__content {
    padding: 15px 30px;
}

.page-password .box-template__box {
    padding: 15px 0 0;
    margin-bottom: 25px;
}

.page-password__template {
    padding: 110px 10px 0 !important;
}


@media (max-width: 840px) {
    .page-password {
        padding: 200px 50px;
        justify-content: flex-start;
    }

    .page-password__box {
        padding: 20px;
    }

    .page-password__title {
        display: none;
    }

    .page-password__help {
        margin: 20px auto 0;
    }
}
