.input-search {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.05) !important;
    padding: 0 6px 0 12px;
    border-radius: 10px !important;
    border: none;
    box-shadow: none !important;
    position: relative;
    cursor: pointer;
}

.input-search .MuiInputBase-input {
    height: max-content;
    padding: 0 !important;
}

.input-search:hover {
    background: rgba(0, 0, 0, 0.08) !important;
}

.input-search__base {
    width: 100%;
}

.input-search__btn {
    padding: 0 8px 0 0;
}

.input-search__detailed {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 147px;
    height: 40px;
    background: #000000;
    border-radius: 5px;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    flex-shrink: 0;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .input-search__btn {
        padding: 0 10px 0 0;
    }
}
