.insight-table__btn-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    position: relative;
}

.insight-table__btn-group .button {
    position: relative;
    top: inherit;
    right: inherit;
}

.insight-table__btn-group .button svg {
    color: dimgrey;
}
