.insight-title{
    font-weight: 400;
    font-size: 20px;
    margin: 0 0 30px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0 10px;
}

.insight-title img {
    width: 24px;
    height: 24px;
}