.page-new-password {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 290px);
    gap: 50px;
    margin-top: 290px;
}

.page-new-password__typo {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.page-new-password__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-align: center;
    margin: 0;
}

.page-new-password__subtitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.page-new-password__select {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 566px;
    width: 100%;
}

.page-new-password__input .MuiInputBase-root {
    background: white;
    border: none !important;
    outline: none !important;
    width: 100%;
    height: 80px;
}

.page-new-password__input .MuiInputBase-root input {
    height: 80px;
    padding: 0 20px;
}

.page-new-password__input fieldset {
    display: none;
}

.page-new-password__select {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.page-new-password__select .MuiFormControl-root {
    width: 100%;
    margin: 0;
}

.page-new-password__select .MuiInputBase-root {
    background: #FFFFFF;
    border-radius: 10px;
    height: 80px;
}

.page-new-password__select .MuiOutlinedInput-input {
    height: inherit;
    padding: 0 0 0 20px;
}

.page-new-password__select .MuiInputBase-input::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.3);
}

.page-new-password__select fieldset {
    display: none;
}

.page-new-password__select .button {
    height: 80px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
}

.page-new-password__help {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FD6569;
}

.page-new-password__attention {
    max-width: 454px;
    width: 100%;
    height: 54px;
    background: #FFFFFF;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 0 10px;
}

.page-new-password__attention svg {
    position: absolute;
    right: 20px;
    transform: rotate(45deg);
    cursor: pointer;
}


@media (max-width: 700px) {
    .page-new-password {
        margin-top: 130px;
        min-height: calc(100vh - 130px);
    }

    .page-new-password__subtitle {
        max-width: 275px;
    }

    .page-new-password__select .MuiInputBase-root {
        height: 60px;
    }

    .page-new-password .page-password__help {
        margin: 5px 0 0 auto;
    }

    .page-new-password__select {
        gap: 35px;
    }

    .page-new-password__select .button {
        height: 60px;
    }
}
