.channels-card {
    max-width: 1500px;
    width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.channels-card:last-of-type {
    margin-bottom: 0;
}

.channels-card:hover {
    background: rgba(255, 255, 255, 0.5);
    transition: 0.2s;
}

.channels-card__descript {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.channels-card__time {
    font-weight: 400;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

.channels-card__content {
    font-weight: 400;
    font-size: 17px;
    color: #000000;
    margin: 0;
}

.channels-card__content span {
    font-weight: 700;
    margin: 0;
}

.channels-card__account {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 10px;
    width: 300px;
}

.channels-card__account img {
    width: 25px;
    height: 25px;
}

.channels-card__name {
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    margin: 0;
}

.channels-card--mobile {
    display: none;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 10px;
}

.channels-card__header--mobile,
.channels-card--mobile .channels-card__name {
    display: flex;
    align-items: center;
    gap: 10px
}

.channels-card--mobile .channels-card__name {
    gap: 7px;
}

.channels-card--mobile .channels-card__content {
    font-size: 15px;
}

.channels-card--mobile .channels-card__time {
    width: 70px;
    height: 25px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.channels-card__header--mobile {
    margin-bottom: 5px;
}

@media (max-width: 600px) {
    .channels-card--mobile {
        display: flex;
    }
    .channels-card {
        display: none;
    }
}
