.project-layout__box {
    display: flex;
    gap: 0 50px;
    flex-direction: row;
    margin: -60px auto 300px;
}

.project-layout__left {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.project-layout__items {
    min-width: 450px;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 35px 30px 33px;
    margin-bottom: 50px;
}

.project-layout__items .tabs__list {
    margin-bottom: 27px;
}

.project-layout .tabs__tab div:hover {
    font-weight: 400;
}

.project-layout__right {
    width: 100%;
}

.project-layout__right .MuiTabPanel-root {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.project-layout__tabs {
    width: 100%;
    background: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 50px;
    padding: 25px 20px 17px;
}

.project-layout__btn {
    width: 169px;
    height: 60px;
    background: #000000;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    border: none;
    margin: 0 0 0 auto;
    cursor: pointer;
}

.project-layout__btn:hover {
    background: #FF007A;
    box-shadow: 0 5px 10px rgb(255 0 122 / 25%);
}