.checkbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    user-select: none;
    align-items: center;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox__checkmark {
    width: 17px;
    height: 17px;
    background: rgba(0, 0, 0, 0.07);
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.checkbox:hover input ~ .checkbox__checkmark {
    /*background: rgba(0, 0, 0, 0.07);*/
    background: rgba(0, 0, 0, 0.15);
    border: 3px solid rgba(0, 0, 0, 0.04);
    position: relative;
}

.checkbox:hover input ~ .checkbox__checkmark:before {
    content: '';
    width: 15px;
    height: 15px;
    display: block;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.07);
    position: absolute;
    transform: rotate(0deg);
    border-radius: 2px;
}

.checkbox input:checked ~ .checkbox__checkmark {
    background-color: #FF007A;
    border: transparent;
}

.checkbox__checkmark:after {
    content: "";
    display: none;
}

.checkbox input:checked ~ .checkbox__checkmark:after {
    display: block;
}

.checkbox input:checked ~ .checkbox__checkmark:before {
    display: none;
}

.checkbox .checkbox__checkmark:after {
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 1.5px 1.5px 0;
    transform: rotate(45deg);
    margin-top: -2px;
}