.box-template {
    display: flex;
    gap: 10px;
}

.box-template__img {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.box-template__content {
    background: #FFFFFF;
    border-radius: 12px;
    width: 100%;
    padding: 35px 40px;
    position: relative;
}

.box-template__disabled .box-template__content{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0 0 12px 12px;
}

.box-template__change {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.box-template__change:hover {
    background: rgba(0, 0, 0, 0.1);
}

.box-template__lock {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.box-template__lock:hover {
    background: rgba(0, 0, 0, 0.6);
}

.box-template__box {
    display: flex;
    gap: 0 17px;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
    margin-top: -15px;
    color: rgba(0,0,0,0.61);
}

.box-template__name {
    font-weight: 700;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.box-template__manager {
    font-weight: 400;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    padding-left: 7px;
    display: flex;
    align-items: center;
}

.box-template__head {
    display: flex;
    align-items: center;
    gap: 20px;
}

.box-template__head-top {
    display: flex;
    align-items: center;
    gap: 20px;
}


.box-template__manager:after {
    content: '';
    position: absolute;
    left: -6px;
    width: 3px;
    height: 3px;
    background: #000000;
    opacity: 0.25;
}

.box-template__date {
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.25);
}

.box-template__content article {
    display: flex;
    flex-direction: column;
    gap: 22px 0;
}

.box-template__content p {
    position: relative;
    margin: 0;
    padding-left: 10px;
}

.box-template__content p:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    height: 40px;
    width: 2px;
    background: rgb(0, 0, 0, 0.3);
}

.box-template__content .table {
    background: #FFFFFF;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
}

.box-template__content .table div {
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    font-weight: 400;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.box-template__content .table div:hover {
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    transition: 0.2s;
    transform: scale(1.02);
    background: white;
    border: none;
    margin-top: -1px;
}

.box-template__content .table div:first-of-type {
    color: #000000;
}

.box-template__content .audio {
    width: 133px;
    height: 44px;
    background: #F8F6F2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 7px;
    font-weight: 400;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.box-template__content .audio:hover {
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.box-template__content .audio .audio__icon {
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.box-template__content .audio svg {
    width: 14px;
    height: 14px;
}

.box-template__group {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.box-template__group .box-template__change {
    position: relative;
    top: 0;
    right: 0;
}

.box-template__item {
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.box-template__item:hover {
    background: rgba(0, 0, 0, 0.1);
}

.box-template__img--mobile {
    display: none;
}

.box-template__item--mobile {
    display: flex;
}

@media (max-width: 840px) {
    .box-template--mobile {
        display: flex;
    }
    .box-template__head {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .box-template__head-top {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .box-template__group {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        background: white;
        width: 100%;
        padding: 20px;
        border-radius: 12px;
        z-index: 1;
    }

    .box-template__item--mobile {
        display: flex;
        width: 100%;
        gap: 30px;
    }

    .box-template__change {
        top: 20px;
        right: 20px;
    }
    .box-template__box {
        padding: 15px 0 0;
    }

    .project-layout__right .box-template__content {
        padding: 15px 15px 30px;
    }
}

@media screen and (max-width: 600px) {
    .box-template {
        flex-direction: column;
    }
    .box-template__content {
        padding: 20px 25px;
    }
}
