.box-template {
    display: flex;
    gap: 10px;
}

.box-template__img {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.box-template__content {
    background: #FFFFFF;
    border-radius: 12px;
    width: 100%;
    padding: 35px 40px;
    position: relative;
}

.box-template__change {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.box-template__change:hover {
    background: rgba(0, 0, 0, 0.1);
}

.box-template__lock {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.box-template__lock:hover {
    background: rgba(0, 0, 0, 0.6);
}

.box-template__box {
    display: flex;
    gap: 0 17px;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
    margin-top: -15px;
    color: rgba(0,0,0,0.61);
}

.box-template__name {
    font-weight: 700;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.box-template__manager {
    font-weight: 400;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    padding-left: 7px;
}

.box-template__manager:after {
    content: '';
    position: absolute;
    top: 50%;
    left: -6px;
    width: 3px;
    height: 3px;
    background: #000000;
    opacity: 0.25;
}

.box-template__date {
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.25);
}

.box-template__content article {
    display: flex;
    flex-direction: column;
    gap: 22px 0;
}

.box-template__content p {
    position: relative;
    margin: 0;
}

.box-template__content p:before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    height: 40px;
    width: 2px;
    background: rgb(0, 0, 0, 0.3);
}

.box-template__content .table {
    background: #FFFFFF;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
}

.box-template__content .table div {
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    font-weight: 400;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.box-template__content .table div:hover {
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    transition: 0.2s;
    transform: scale(1.02);
    background: white;
    border: none;
    margin-top: -1px;
}

.box-template__content .table div:first-of-type {
    color: #000000;
}

.box-template__content .audio {
    width: 133px;
    height: 44px;
    background: #F8F6F2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 7px;
    font-weight: 400;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.box-template__content .audio:hover {
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.box-template__content .audio .audio__icon {
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.box-template__content .audio svg {
    width: 14px;
    height: 14px;
}