.select-window {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: max-content;
}

.select-window__icon {
    position: absolute;
    right: 15px;
}

.select-window__select {
    border: none;
    outline: none;
}

.select-window__select {

}

.select-window__select fieldset {
    display: none;
}

.select-window__select .MuiSelect-icon {
    display: none;
}

.select-window__select .MuiSelect-select {
    padding: 5px 10px !important;;
    border-radius: 5px;
    border: none;
    width: 100% !important;
    background-image: url("../../assets/CaretDown.svg");
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
}

.select-window__select .MuiSelect-select[aria-expanded="true"] {
    background-color: #FFFFFF !important;
    box-shadow: 10px 0 35px rgb(0 0 0 / 10%);
    border-radius: 5px 5px 0 0;
    background-image: url("../../assets/CaretUp.svg");
}

.select-window__select .MuiList-root {
    background: #FFFFFF;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 5px;
}

.select-window__option {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.select-window__option:first-of-type {
    border-top: 1px solid rgba(0, 0, 0, 0.05)
}

.select-window__option.Mui-selected {
    background-color: transparent !important;
}

.select-window__option.MuiButtonBase-root:hover {
    background: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
}