.chart-insight {
    width: 100%;
    overflow-x: auto;
    padding-bottom: 20px;
    margin-top: 20px;
}

.chart-insight div {
    width: 2000px;
    height: 300px;
}

.chart-insight canvas {
    /*width: 100% !important;*/
}

.chart-insight__menu {
    display: flex;
    justify-content: space-between;
    margin: 28px 0 0;
}

.chart-insight__button-group {
    width: 205px;
    height: 44px;
    background: rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    gap: 20px;
    cursor: pointer;
}

.chart-insight__button {
    font-weight: 700;
    font-size: 15px;
    color: rgba(0,0,0,0.25);
}

.chart-insight__button-active {
    font-weight: 700;
    font-size: 15px;
    color: #FF007A;
}

.chart-insight__button-active:hover {
    color: #FF007A !important;
}

.chart-insight__button:hover {
    color: rgba(0,0,0,0.5);
}

.chart-insight__checkbox {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.chart-insight__checkbox label{
    cursor: pointer;
}

.chart-insight__checkbox label:hover{
    transition: 0.3s;
    color: rgba(0,0,0,0.30);
}

.chart-insight__drop-menu .MuiPaper-elevation {
    width: max-content;
}

.chart-insight__menu .dropdown-menu__trigger[aria-expanded^="true"] {
    opacity: 1 !important;
}

.chart-insight__menu .dropdown-menu__trigger svg {
    width: 18px;
    height: 18px;
}

.chart-insight__box{
    display: flex;
    gap: 15px;
    align-items: center;
}

.chart-insight__legend {
    display: flex;
    gap: 15px;
    align-items: center;
}

.chart-insight__legend button{
    border: none;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-weight: 400;
    font-size: 13px;
    color: black;
    cursor: pointer;
    padding: 0;
}

.chart-insight__legend button span{
    height: 3px;
    width: 10px;
}

@media (max-width: 1000px) {
    .chart-insight__menu {
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .chart-insight__box .button {
        width: 80px;
        bottom: 0 !important;
        right: 0 !important;
    }
}

@media (max-width: 530px) {
    .chart-insight__button-group {
        width: 100%;
        justify-content: center;
    }

    .chart-insight__box {
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .chart-insight__legend {
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        overflow: hidden;
    }

    .chart-insight__box .button {
        width: 28px;
        height: 28px;
    }

    .chart-insight__box .dropdown-menu {
        position: absolute;
        right: 0;
        z-index: 1;
        background: white;
    }

    .chart-insight__box .dropdown-menu__trigger {
        box-shadow: -16px 0 15px 3px rgba(255, 255, 255, 1);
    }

    .chart-insight__legend button {
        flex-wrap: nowrap;
        white-space: nowrap;
    }
}
