.chips-delete {
    position: relative;
    display: flex;
    align-items: center;
    padding: 35px 0 0;
    gap: 0 15px;
}

.chips-delete:after {
    content: "";
    display: block;
    width: 29px;
    height: 50px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    position: absolute;
    right: 55px;
    bottom: 0;
    cursor: pointer;
}

.chips-delete__box {
    display: flex;
    gap: 0 5px;
    /*padding: 0 0 10px;*/
    max-width: 905px;
    width: 100%;
}

.chips-delete__box {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chips-delete__box::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.chips-delete__list div {
    width: 184px;
    height: 50px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 17px;
    color: #000000;
    cursor: grabbing;
}

.chips-delete__add{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chips-delete__add:hover {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.chips-delete__plus {
    color: rgba(0, 0, 0, 0.5);
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.chips-delete .MuiChip-deleteIcon:hover {
    color: black !important;
}

.chips-delete input[type="text"] {
    border: none;
    background: none;
}
