

.page-template__block{
    display: flex;
    flex-direction: column;
    gap: 35px 0;
}

.page-template__checkboxes {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px 0;
}

.page-template__right .MuiTabPanel-root {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.page-template__typo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.page-template__title {
    font-weight: 400;
    font-size: 17px;
    color: #000000;
    margin: 0;
}

.page-template__tabs-list {
    padding: 35px 0 0;
}

.page-template__group-button {
    display: flex;
    gap: 0 5px;
}

.page-template__btn {
    width: 142px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 7px;
    background: #000000;
    border-radius: 8px;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.page-template__btn:hover {
    background: #FF007A;
    box-shadow: 0 5px 10px rgba(255, 0, 122, 0.25);
}

.page-template .MuiFormControl-root {
    max-width: 510px;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.page-template .MuiInputBase-input {
    font-weight: 400;
    font-size: 17px;
}

.page-template .MuiOutlinedInput-notchedOutline {
    border: none;
}

.page-template__tabs-change .page-template__group-button {
    display: flex;
    align-items: center;
}

.page-template__btn-cancel {
    width: 90px;
    height: 40px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.page-template__btn-cancel:hover {
    background: rgba(0, 0, 0, 0.1);
}

.page-template__btn-save {
    width: 90px;
    height: 40px;
    background: #FF007A;
    box-shadow: 0 5px 10px rgba(255, 0, 122, 0.25);
    border-radius: 8px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.page-template__tabs-change .page-template__group-button svg {
    width: 18px;
    height: 18px;
    opacity: 0.45;
    margin-right: 16px;
}
