body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #F8F6F2;
}

* {
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.dialog__btn {
    border: none;
    background: transparent;
    box-shadow: 0 20px 150px rgba(0, 0, 0, 0.1);
}

.dialog__window .MuiPaper-elevation {
    border-radius: 30px;
}

.dialog-templates__window .MuiPaper-elevation {
    max-width: 1320px !important;
    width: 100% !important;
}