
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: black;
    border: 1px solid #000;
}

::-webkit-scrollbar-thumb:hover {
    width: 5px;
    height: 5px;
    box-shadow: 0 5px 10px rgba(255, 0, 122, 0.2);
    border: 1px solid #FF007A;
    background: #FF007A;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #F8F6F2;
}

* {
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.dialog__btn {
    border: none;
    background: transparent;
    box-shadow: 0 20px 150px rgba(0, 0, 0, 0.1);
}

.dialog__window .MuiPaper-elevation {
    border-radius: 30px;
}

.dialog-templates__window .MuiPaper-elevation {
    max-width: 1320px !important;
    width: 100% !important;
}

.tabs {
    width: 100%;
}

.tabs .MuiTabs-indicator {
    display: none !important;
}

.tabs__list {
    display: flex;
    gap: 0 25px;
}

.tabs__list .MuiTabs-flexContainer {
    gap: 0 25px;
}

.tabs__tab {
    text-transform: none !important;
    max-width: max-content !important;
    min-width: max-content !important;
    padding: 0 !important;
    align-items: flex-start !important;
}

.tabs__tab div {
    font-weight: 400;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.tabs__tab div:hover {
    font-weight: 700;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.3);
}

.tabs__tab.Mui-selected div {
    color: #000000;
    font-weight: 700 !important;
    cursor: auto;
}