.box-blur {
    display: flex;
    flex-direction: column;
}

.box-blur__block {
    max-width: 1500px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.025);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    text-align: center;
    display: flex;
    gap: 5px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-blur__block img{
    width: 30px;
    height: 30px;
    background: transparent;
}

.box-blur__subtitle {
    font-weight: 400;
    font-size: 17px;
    color: rgba(0,0,0,0.4);
    margin: 0;
}

@media (max-width: 600px) {
    .box-blur__block {
        height: 150px !important;
        margin-bottom: 100px;
    }
}
