.popover .MuiPopover-paper {
    padding: 60px 30px;
    width: 580px;
    box-sizing: border-box;
    max-height: 570px ;
    margin-left: -280px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.popover .MuiBackdrop-root {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.popover__box {
    width: 100%;
}

.popover__box .MuiTabs-indicator {
    display: none !important;
}

.popover__tab {
    min-width: 115px !important;
    text-transform: none !important;
    align-items: flex-start !important;
    padding: 0 !important;
}

.popover__tab span span {
    right: -12px;
}

.popover__tab div {
    font-weight: 700;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.25);
}

.popover__tab div:hover {
    font-weight: 700;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.popover__tab.Mui-selected div {
    color: #000000;
}

.popover__badge span {
    background: #FF007A;
    color: white;
}

.popover__icon {
    border: none;
    padding: 0;
    background: transparent;
    width: 26px !important;
    cursor: pointer;
}

.popover__icon:hover {
    opacity: 0.3;
    background: transparent;
}

.popover__message_box {
    display: flex;
    gap: 5px 0;
    flex-direction: column;
}

.popover__panel {
    padding: 30px 0 !important;
    display: flex;
    gap: 30px 0;
    flex-direction: column;
    border: none;
    margin: 0;
}

.popover__panel_dot span {
    top: -2px !important;
    right: -5px !important;
}

.popover__panel_title {
    font-weight: 700;
    font-size: 15px;
    align-items: center;
    color: #000000;
    margin: 0 0 8px;
}
